h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

p {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}